.popup__el-img {
    max-width: 240px;
    height: 299px;
    object-fit: cover;
}
@media screen and (min-width: 768px) {
    .popup__el-img {
        max-width: 433px;
        height: 540px;
    }
    
}
@media screen and (min-width: 1280px) {
    .popup__el-img {
        max-width: 816px;
    }
    
}