.profile-info__title {
    font-family: "Inter-Medium";
    font-weight: 500;
    font-size: 27px;
    font-style: normal;
    line-height: 33px;
    text-align: center;
    color: #fff;
    margin: 0;
}
@media screen and (min-width: 768px) {
    .profile-info__title {
        text-align: left;
    }
    
}